:root{
    --title-color: hsl(223, 47%, 23%);
    --paragraf-color: hsl(224, 23%, 55%);
    --width-hero-container: 37rem
}

html{
    font-family: 'Red Hat Display', sans-serif;
    font-size: .625em;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/pattern-background-desktop.svg), hsl(225, 100%, 94%) 50%;
    background-repeat: no-repeat;
    background-position: top;

}
.container{
    background-color: white;
    width: var(--width-hero-container);
    height: 56rem;
    border-radius: 1.5rem;
}
.hero{
    width: var(--width-hero-container);
    border-radius: 1.5rem 1.5rem 0 0 ;
}
.content{
    margin: 3rem auto;
    text-align: center;
    width: 80%;
}
.content__title{
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--title-color);
    margin-bottom: 1rem;
}
.content__text{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--paragraf-color);
}
.change{
    background-color: hsl(225, 100%, 98%);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    gap: 2rem;
    margin: 2rem 0;
    padding: 1.5rem 0;
}
.change img{
    margin-left: 1rem;
}
.change a{
    font-weight: 700;
    font-size: 1.6rem;
    flex: 1;
    padding: 0;
    margin: 1rem;
    text-align: right;
    color: hsl(245, 75%, 52%);
}
.change a:hover{
    text-decoration: none;
    color: hsl(245, 45%, 52%);
}
.change__title{
    color: var(--title-color);
    font-weight: 900;
}
.change__price{
    font-weight: 500;
    color: var(--paragraf-color);
}
.divBtn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn{
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: none;
    font-weight: 900;
    background-color: hsl(245, 75%, 52%);
    color: white;
    transition: .3s;
}
.btn:hover{
    cursor: pointer;
    background-color: hsl(245, 45%, 52%);
}
.btn-stroke{
    color: var(--title-color);
    background-color: white;
}
.btn-stroke:hover{
    color: var(--paragraf-color);
    background-color: white;
}